---
layout: default
title: Articles
permalink: /articles/
---

<div class="page-body">
  <div id="page-title">
    <span>ARTICLES</span>
  </div>
  {% for post in site.posts %}
    {% assign currentMonth = post.date | date: "%B %Y" %}
    {% if currentMonth != myDate %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 class="article-title">{{ currentMonth }}</h3>
      <ul class="article-list">
      {% assign myDate = currentMonth %}
    {% endif %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      ({{ post.date | date: "%B %-d, %Y" }})
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>