<div id="page-top">
  <div class="top-bar">
    <div id="top-name"><a href="/index.html" | relative_url }}">{{ site.title }}</a></div>
    <div id="top-title">{{ site.blurb }}</div>
  </div>

  <label id="hamburger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></label>
  <div class="menu-bar">
    <div id="menu-items">
      <div id="nav-left">
        <div id="left-container">
          <span class="icon_link twitter"><a href="https://twitter.com/JamieLocatis" target="_blank">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a></span>
          <span class="icon_link github"><a href="https://github.com/jlocatis" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></span>
          <span class="icon_link linkedin"><a href="https://www.linkedin.com/in/jamie-locatis-a76428123/" target="_blank">          
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></i>
            </span>
          </a></span>
          <span class="icon_link rss"><a href="#">          
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
          </a></span>
        </div>
      </div>
      <div id="nav-right">
        <div id="right-container">
          <a href="/articles" | relative_url }}" class="nav-link">ARTICLES</a>
          <a href="/about" | relative_url }}" class="nav-link">ABOUT</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>