body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

p {
	line-height: 1.50em;
}

hr {
	margin-top: 25px;
	margin-bottom: 25px;
	border-top: 1px dotted #8c8b8b;
}

ol {
	padding-left: 30px;
}

ol li {
	word-break: break-all;
}

ul {
	list-style-type: square;
}

footer :target {
	background: yellow;
}

.clear {
	clear: both;
}

.top-bar {
	background-color: #585859;
	display: block;
	position: relative;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 500;
}

#hamburger {
	position: absolute;
	top: 35px;
	right: 25px;
	color: white;
	z-index: 999;
	transition: color 300ms ease;
}

#hamburger:hover {
	color: #c4c4c4;
	cursor: pointer;
}

input {
	position: absolute;
	left: -10000px;
}

input[type=checkbox]:checked + div {
	top: 100px;
	opacity: 1;
}

.menu-bar {
	background-color: #c4c4c4;
	position: absolute;
	display: block;
	width: 100%;
	height: 55px;
	z-index: 200;
	top: 45px;
	left: 0px;
	opacity: 0;
	transition: top 500ms ease, opacity 500ms ease;
}

.menu-bar-sticky {
	background-color: #c4c4c4;
	position: fixed;
	display: block;
	width: 100%;
	height: 55px;
	z-index: 200;
	top: 0px;
	left: 0px;
	opacity: 1;
}

.hero {
  background-image: url("./images/hero_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: contain;
  width: 100%;
  margin: 0 auto;
  padding-top: 35.85%;
}

.page-body {
	padding-top: 2.0em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding-left: 10px;
	padding-right: 10px;
}

.page-body a {
	color: black;
	text-decoration: none;
}

.page-footer {
	margin-top: 15px;
}

.bar {
	background-color: black;
	width: 100%;
	height: 1px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.article-date {
	font-size: 0.75em;
	color: #585859;
}

.article-info-area {
	display: flex;
	justify-content: space-between;
}

.icon_link {
	margin-right: 15px;
}

.icon_link a {
	color: #585859;
	transition: color 300ms ease;
}

.center {
	text-align: center;
}

.gist {
   max-width: 100%;
   overflow: auto;
}

.gist .blob-wrapper.data {
   max-height: 200px;
   overflow: auto;
}

.gist .blob-code-inner {
	white-space: pre-wrap !important;
  word-break: break-all !important;
}

.article-title {
	font-family: 'Open Sans', sans-serif;
}

.article-title a {
	color: black;
	transition: color 300ms ease;
}

.article-title a:hover {
	color: #c4c4c4;
}

.footnote_reference {
	vertical-align: super;
	font-size: 0.5em;
}

a.footnote_reference {
	color: blue;
}

.article-list a {
	color: #c4c4c4;
	text-decoration: underline;
}

.article-list li {
	margin-bottom: 10px;
}

.about-me-list a {
	color: #c4c4c4;
	text-decoration: underline;
}

.about-me-list li {
	margin-bottom: 5px;
}

h2 h3 .article-title { /* come back and fix */
	margin-top: 25px;
	margin-bottom: 15px;
}

h1.article-title { /* come back and fix */
	margin-top: 0px;
	margin-bottom: 15px;
}

.img-container {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
}

.img-caption {
	text-align: right;
	padding-top: 6px;
}

.article-image {
	max-width: 100%;
	height: auto;
	width: auto;
}

.note_box {
	background-color: lightgreen;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 0.9em;
	border-radius: 5px;
}

.note_box a {
	color: black;
}

.note_box a:visited {
	color: black;
}

.twitter a:hover {
	color: #00aced;
}

.rss a:hover {
	color: #FF6600;
}

.github a:hover {
	color: black;
}

.linkedin a:hover {
	color: #007bb6;
}

.hidden-li {
	list-style: none;
}

.article-content a {
	color: #c4c4c4;
}

.article-content a:hover {
	text-decoration: underline;
}

.article-preview-container {
	display: flex;
	align-items: center;
}

.article-preview-image {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-right: 10px;
}

#top-name {
	font-family: 'Open Sans', sans-serif;
	padding-top: 25px;
	padding-left: 15px;
	font-size: 1.25em;
	letter-spacing: 2px;
}

#top-name a {
	color: white;
	transition: color 300ms ease;
}

#top-name a:hover {
	color: #c4c4c4;
}

#top-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: gray;
	padding-top: 5px;
	padding-left: 15px;
}

#top-title a {
	color: gray;
}

#top-title a:visited {
	color: gray;
}

.menu-items {
	display: flex;
}

.menu-items-sticky {
	padding-top: 0px;
}

#nav-left {
	padding-top: 12px;
	width: 50%;
}

.nav-right {
	padding-top: 18px;
	width: 50%;
	font-family: 'Open Sans', sans-serif;
}

.nav-right a {
	color: #585859;
}

.nav-right a:hover {
	font-weight: bold;
}

.nav-right-sticky {
	padding-top: 6px;
}

.nav-right-sticky a {
	color: #585859;
}

.nav-right-sticky a:hover {
	font-weight: bold;
}

#left-container {
	float: left;
	width: 200px;
	display: flex;
	justify-content: center;
}

#right-container {
	padding-right: 10px;
	float: right;
	width: 200px;
	display: flex;
	justify-content: space-around;
}

#page-title {
	color: #585859;
	font-weight: bold;
	font-size: 0.9em;
	text-align: left;
	width: 150px;
	letter-spacing: 2px;
}

#posted-date {
	font-size: 0.8em;
	color: #585859;
}

#footnotes-title {
	font-weight: bold;
}

#footnotes {
	margin-right: 15px;
	font-size: 0.7em;
}

#footer {
	text-align: center;
	font-size: 0.5em;
}

#share_box {
	font-size: 1.0em;
	background-color: #c4c4c4;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	width: 380px;
}

#share_box a {
	color: blue;
}

.active {
	font-weight: bold;
}

/* Paginator Styling */
.paginator-area {
	width: 100%;
	text-align: center;
}

.paginator-direction {
	font-weight: bold;
}

/* Tags */
#select-tag-title {
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.tag {
	background-color: #c4c4c4;
	border-radius: 10px;
	font-size: 0.5em;
	padding: 4px;
}

/* Embedded Code Styling */
.highlighter-rouge {
	font-size: 1.25em;
	background-color: rgb(247,247,247);
}

.highlight {
	font-size: 1.25em;
	line-height: 1.1em;
	tab-size: 2;
	word-wrap: break-word;
}

pre {
	white-space: pre-wrap;
}

/* Desktop Changes */
@media only screen and (min-width: 1000px) {
	#hamburger {
		display: none;
	}

	.top-bar {
		float: left;
		width: 45%;
		background-color: #c4c4c4;
	}

	#top-name a:hover {
		color: #585859;
	}

	.menu-bar {
		float: right;
		opacity: 1;
		width: 55%;
		left: 45%;
		height: 100px;
		top: 0;
	}

	.menu-items {
		padding-top: 20px;
	}
}