---
layout: default
---

<div class="page-body">
	<h1 class="article-title">{{ page.title }}</h1>
	<div class="article-info-area">
		<div id="posted-date">{{ page.date | date: "%b %-d, %Y" }}</div>
		<div>
			{% if page.tags != empty %}
				{% for tag in page.tags %}
					<a class="tag" href="/blog/tag.html#{{ tag | slugify }}">{{ tag }}</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="article-content">

{{ content }}

	</div>
	<div id="share_box">
		<div><img src="{{ "/assets/images/twitter_logo.png" | relative_url }}" alt="Share on Twitter!" width="100"></div>
		<div>If you liked this article and think others should read it, please <a href="https://twitter.com/share?text=Read+this+article&url={{ page.relative_url }}&text=by&via=jamielocatis&hashtags=webdevelopment" target="_blank">share it on Twitter!</a></div>
	</div>
</div>